.card {
  box-shadow: 0 12px 30px rgba(0, 50, 127, .15);
  border: 1px solid #f0f0fb;
  cursor: pointer;
  padding: 2rem;
  margin: 4rem auto;
  max-width: 150px;
}

.card__title {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}